# Cleaning, Analyzing, and Forming Dirty Data

Using Python to create and clean lists and do some data analyzation/exploration

## This is our starting string of dirty medical data.

In [47]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

Changing # to $ for better readability.

In [48]:
updated_medical_data = medical_data.replace("#","$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

Finding the # of records

In [49]:
num_records = 0
for x in updated_medical_data:
    if x == "$":
        num_records+=1
print(num_records)

10

In [5]:
print("There are {} medical records in the data.".format(num_records))

There are 10 medical records in the data.

## Splitting the strings into lists

Everything between semicolons is made into its own string

In [6]:
medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

seperating the strings into a list of lists

In [7]:
medical_records = []

8. Next, iterate through `medical_data_split` and for each record, split the string after each comma (`,`) and append the split string to `medical_records`.

   Print `medical_records` after the loop.

In [8]:
for x in medical_data_split:
    medical_records.append(x.split(","))
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

## Cleaning the lists

Using comprehensions to Iterate through the lists using strip to remove whitepace and line breaks.

In [9]:
medical_records_clean = []

10. Next, use a `for` loop to iterate through `medical_records`.

    Inside of the loop, create an empty list called `record_clean`. We'll use this list to store a formatted version of each medical record.

In [10]:
for record in medical_records:
    record_clean = [x.strip() for x in record]
    medical_records_clean.append(record_clean)

print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

## Analyzing the cleaned data

Using comprehensions to analyze

Names

In [12]:
for record in medical_records_clean:
  print(record[0].upper())

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

Creating lists of individual values using comprehensions.

In [21]:
names = [record[0] for record in medical_records_clean]
ages = [record[1] for record in medical_records_clean]
bmis = [record[2] for record in medical_records_clean]
insurance_costs = [record[3] for record in medical_records_clean]

In [53]:
print(names)
print("\n")
print(ages)
print("\n")
print(bmis)
print("\n")
print(insurance_costs)

['Marina Allison', 'Markus Valdez', 'Connie Ballard', 'Darnell Weber', 'Sylvie Charles', 'Vinay Padilla', 'Meredith Santiago', 'Andre Mccarty', 'Lorena Hodson', 'Isaac Vu']


['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']


['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']


['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

### Creating averages of bmi and cost

In [27]:
total_bmi = sum(float(x) for x in bmis)
print(total_bmi)

258.3

In [33]:
average_bmi =  round(total_bmi / len(bmis),2)
print("The average BMI in this list is {}".format(average_bmi))

The average BMI in this list is 25.83

In [44]:
total_insurance_cost = sum(float(x.replace("$"," ")) for x in insurance_costs)
average_insurance_cost = round(total_insurance_cost / len(insurance_costs),2)

print("The average insurance cost from our list is ${}".format(average_insurance_cost))

The average insurance cost from our list is $8390.7